CompileFlags:
  BuiltinHeaders: QueryDriver
  Add:
    - "-Wall"
    - "-Wextra"
    - "-Wunused-variable"
    - "-Wunused-function"
    - "-Wno-unused-parameter"
    - "-Wno-reserved-identifier"
  Remove:
    - "-misc-unused-parameters"
    - "-mfix-esp32-psram-cache-issue"
    - "-mfix-esp32-psram-cache-strategy=*"
    - "-fno-shrink-wrap"
    - "-fno-malloc-dce"
    - "-fno-tree-switch-conversion"
    - "-fstrict-volatile-bitfields"
    - "-fzero-init-padding-bits=*"
    - "-free"
    - "-fipa-pta"
    - "-march=*"
    - "-mtune=*"
    - "-mdisable-hardware-atomics"
    - "-mlongcalls"
    - "-mtext-section-literals"
    - "-mtarget-align"
    - "-mno-target-align"
    - "-isysroot"
Diagnostics:
  Suppress: [pp_expects_filename, unused-includes]
Index:
  Background: Skip
  StandardLibrary: true
---
If:
  PathMatch: .*\.ino
CompileFlags:
  Add:
    - "-x"
    - "c++"
    - "-include"
    - "Arduino.h"
